* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #1E88E5, #E3F2FD);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0 0 0;
  width: 90vw;
  height: 100%;
  border: none;
}


.home {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 20px;
  position: fixed;
  top: 0;
  background: none;
}

.logo {
  display: flex;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  background: gold;
  border-radius: 50%;
  margin-right: 10px;
}

.logo span {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

nav {
  transition: max-height 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
}

nav a {
  margin-left: 15px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  box-sizing: border-box;
  padding: 5px;  /* Add default padding */
  border-radius: 5px;
  transition: all 0.2s ease;
}

nav a:hover {
  text-decoration: none;
  color: #000;
  background-color: yellow;
  transform: scale(1.05);  /* Scale effect instead of padding change */
}

.nav.open {
  display: flex;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 30px 0;
}

.search-box {
  display: flex;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-box input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-box button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: auto 5px;
}

.search-box button:hover {
  background: #45a049;
}

.search-box input:focus {
  border-color: #4CAF50;
  outline: none;
}

.suggestions {
  margin: 60px 0;
  padding: 0;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  max-height: 150px;
  max-width: 600px;
  overflow-y: auto;
  position: absolute; /* Ensure it appears below the input */
  z-index: 10;
  width: 100%; /* Match the input width */
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

/* load container */
.load {
  position: relative;
  border:24px solid #0000;
  border-radius:50%;
  width: 45px;
  height: 45px;
  animation: piefill 2s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;

}

.load-more {
  display: inline-block;
  background-color: #4CAF50; /* Green background */
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border: none;
  margin: 20px auto; /* Center the button horizontally */
  transition: background-color 0.3s, transform 0.2s ease; /* Smooth transition for hover effects */
}

.load-more:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.load-more:focus {
  outline: none; /* Remove default focus outline */
}


.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.tabs button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.tabs button:hover {
  background-color: #45a049;
}

.favorites {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 80vw;
}

.favorites h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.favorites-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.mall-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.mall-card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
  opacity: 0; /* Initially hidden */
  animation: fadeInScale 0.5s ease-out forwards; /* Apply animation on load */
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.mall-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.mall-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.mall-card p {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #000;
  z-index: 10;
}

.mall-card:hover {
  transform:rotateX('15deg');
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Enhance shadow for hover */
  cursor: pointer;
}

.mall-card:nth-child(odd) {
  animation-delay: 0.2s;
}

.mall-card:nth-child(even) {
  animation-delay: 0.4s;
}

.mall-image-section {
  text-align: center;
  margin: 20px 0;
}

.mall-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.mall-image-section h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
}

.results {
  background-color: none;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Dark Mode*/
.dark-btn{
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
}
.dark-btn .fa-sun{
  color: #ffdd57;
}

.dark{
  background: gray;
  color: #fff;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    gap: 10px;
    transition: max-height 0.3s ease-in-out;
  }
  
  .nav.open {
    opacity: 1;
    max-height: 200px; /* Adjust depending on the content */
  }
  
  .header {
    flex-direction: column;
  }
  
}

.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  padding: 20px 0;
  margin: 0;
  width: 90vw;
    background-color: #094964;
  }

  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4{
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:4;
    bottom: -10px;
    background-color: yellow;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /* Form styles */
  .form-container {
    background-color: #094964;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Form group styles */
  .form-group {
    margin-bottom: 10px;
  }
  
  /* Input field styles */
  .form-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
  }
  
  /* Submit button styles */
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    color: darkblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #e6e6e6;
  }


  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  }
  
  @media (max-width: 574px) {
    .search-container {
      padding: 0 10px;
    }
    
    .mall-card {
      width: 90%;
      margin: 0 auto;
    }
    
    .footer {
      padding: 40px 10px;
    }
  }
  @keyframes piefill {
    0% , 19%{ border-color: #0000 #0000 #0000 #0000 }
    20% , 39%{ border-color: yellow #0000 #0000 #0000 }
    40% , 59%{ border-color: yellow yellow #0000 #0000 }
    60% , 79%{ border-color: yellow yellow yellow #0000 }
    80% , 100% { border-color: yellow yellow yellow yellow }
    
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }