/* Booking.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.booking-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  text-align: center;
  padding: 20px;
}

.hero img {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 10px;
}

.filter-button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #4CAF50;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button.active {
  background-color: #4CAF50;
  color: white;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}


.list-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.book-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-left: 35px ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-button:hover {
  background-color: #45a049;
}

.unavailable {
  color: red;
  font-weight: bold;
  text-align: right;
  margin-left: 5px;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 15px 20px;
  background-color: #4CAF50;
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filter-button {
    width: 90%;
    max-width: 300px;
  }

  .item-list {
    grid-template-columns: 1fr;
  }

  .list-item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .hero h2 {
    font-size: 1.2rem;
  }

  .filter-button {
    padding: 8px 15px;
  }

  .book-button {
    padding: 8px;
  }
}
