/* body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, yellow 0%, #1E88E5 25%, yellow 51%, #4CAF50 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
} */

.qr-code {
  margin: 20px auto;
  text-align: center;
}

.confirmation-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .confirmation-page h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .confirmation-page p {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
  }
  
  .confirmation-page strong {
    font-weight: bold;
    color: #222;
  }
  
  .back-button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .back-button:hover {
    background-color: #45a049; 
  }
  
  .back-button:focus {
    outline: none;
  }

  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .cancel-button {
    background-color: #ff0000;
    color: white;
    font-size: 1.1em;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .cancel-button:hover {
    background-color: #ff1a1a;
  }
  
  
  /* @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */