body {
  background-color: #2e86ab;
  color: #e0e1dd;
}

h1 {
  color: #f1c40f;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}

.container {
  font-size: 20px;
  margin: 0 auto;
  max-width: 500px; /* Added for responsiveness */
  padding: 20px;
}

form {
  -webkit-backdrop-filter: blur(20px);
  background: #ffffff0d;
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff2e;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 #1f26875e;
  padding: 20px;
}

label {
  margin-right: 14px;
  text-align: left;
  text-transform: uppercase;
  font-size: medium;
}

.form {
  background: transparent;
  border: none;
  border-bottom: 2px solid #f1c40f;
  font-size: 17px;
  gap: 10px;
  color: black;
}

.form:focus {
  background: transparent;
  border: none;
  border-bottom: 2px solid #f1c40f;
  transition: border-bottom 0.3s ease; /* Added smooth transition */
}

.btn {
  background-color: #f1c40f;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added smooth transition */
}

.btn:hover {
  background-color: #d4a007; /* Darker yellow on hover */
}

p {
  font-size: 20px;
  margin-top: 20px;
}

.link {
  color: #f1c40f;
  font-weight: 800;
}

@media (max-width: 768px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 50px;
  }

  .form {
    font-size: 16px;
  }
  
  .btn {
    width: 100%;
  }
}
